<h3 ng-bind="vm.title">Section Title</h3>
<p ng-bind-html="vm.content" class="content-color">
    Content
</p>
<div ng-if="vm.sections.length" ng-repeat="section in vm.sections | visible: vm.person">
    <h4 ng-bind="section.title"></h4>
    <p ng-bind-html="section.content" class="content-color"></p>
</div>
<h4 ng-if="vm.gallery">Gallery</h4>
<p class="media" ng-if="vm.gallery">
    <a href="#">
        <img ng-repeat="image in vm.gallery track by $index" ng-src="{{image}}" ng-click="vm.showMedia($event)" />
    </a>
</p>